<Config>
  <LogLevel>{{ sonarr_log_level }}</LogLevel>
  <EnableSsl>{{ sonarr_enable_ssl }}</EnableSsl>  
  <Port>{{ sonarr_port }}</Port>
  <SslPort>{{ sonarr_ssl_port }}</SslPort>
  <UrlBase>{{ sonarr_url_base }}</UrlBase>
  <BindAddress>{{ sonarr_bind_address }}</BindAddress>
  <ApiKey>{{ sonarr_api_key }}</ApiKey>
  <AuthenticationMethod>{{ sonarr_authentication_method }}</AuthenticationMethod>
  <UpdateMechanism>{{ sonarr_update_mechanism }}</UpdateMechanism>
  <Branch>{{ sonarr_branch }}</Branch>
  <LaunchBrowser>{{ sonarr_launch_browser }}</LaunchBrowser>
  <SslCertHash></SslCertHash>
</Config>
